{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">{% block header %}{% endblock %}</header>
    <aside class="aside">{% block aside %}{% endblock %}</aside>
    <main class="main">{% block main %}{% endblock %}</main>
    <footer class="footer">{% block footer %}{% endblock %}</footer>



</body>
</html>